<div class="card">
    <h1 class="card-header">Welcome back, <%-name%>!</h1>

    <% if (typeof lastLogged != 'undefined') { %>
        <div class="card-body">
            <p>Last online: <%- lastLogged %></p>

        </div>
    <% } %>
</div>

<hr>

<% if (success_msg != '') { %>
    <div class="alert alert-success" role="alert">
        <%= success_msg %>
    </div>
<% } %>
<% if (error_msg != '') { %>
    <div class="alert alert-danger" role="alert">
        <%= error_msg %>
    </div>
<% } %>


<div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-2">

        <!-- Categories Widget -->
        <div class="card my-3">
            <h5 class="card-header">Post Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/post/find">All categories</a>

                            </li>
                            <hr>
                            <li>
                                <a href="/post/find/Engineering">Engineering</a>

                            </li>
                            <hr>
                            <li>
                                <a href="/post/find/Economics">Economics</a>

                            </li>
                            <hr>
                            <li>
                                <a href="/post/find/Healthcare">Healthcare</a>

                            </li>
                            <hr>
                            <li>
                                <a href="/post/find/Biology">Biology</a>

                            </li>
                            <hr>
                            <li>
                                <a href="/post/find/Miscelanious">Miscelanious</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Post Content Column -->
    <div class="col-md-10">
        <div class="card my-15">
            <div class="col-lg-13">
                <!-- Header -->
                <h1 class="card-header">Latest Post</h1>
                <div class="card-body">
                    <% if (typeof post != 'undefined') { %>
                        <!-- Title -->
                        <h2 class="mt-4">
                            <% if (post._user._id.equals(user._id)) { %> 
                                <form action="/post/delete/<%- post._id  %>">
                                    <%- post.title %>
                                    <button type="submit" class="close" >
                                        <span aria-hidden="true"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </form>
                            <% } else { %>
                                <%- post.title %>
                            <% } %>
                        </h2>

                        <hr>

                        <!-- User -->
                        <p> Posted by: <a href="/profile/<%- postedUserId %>"><%- postedBy %></a>, <%- postedDate %> </p>

                        <!-- Date/Time and Category -->
                        <p>Category: <%- post.category %></p>

                        <hr>

                        <!-- Post Content -->
                        <p class="lead" ><%- post.body %></p>

                        <hr>

                        <!-- Comments Form -->
                        <div  class="card my-4">
                            <h5 class="card-header">Leave a Comment:</h5>
                            <div class="card-body">
                                <form class="needs-validaiton" novalidate action="/comment/<%- post._id %>" method="POST">
                                    <div class="form-group">
                                        <textarea name="comment" class="form-control" rows="3" required></textarea>
                                    </div>
                                    <div class="invalid-feedback">
                                        Cannot comment an empty field
                                    </div>
                                    <% if (error != '') { %>
                                        <div class="alert alert-danger" role="alert">
                                            <%= error %>
                                        </div>
                                    <% } %>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        <% comments.forEach(function(comment) {%>
                            <!-- Single Comment -->
                            <div class="media mb-4">
                                <% if (typeof comment._user.profilePic != 'undefined') { %>
                                    <img src="/files/image/<%- comment._user.profilePic %>" class="d-flex mr-3 rounded-circle" alt="" height="50" width="50">
                                <% } else { %>
                                    <img src="/images/defaultProfilePic.jpg" class="d-flex mr-3 rounded-circle" alt="" height="50" width="50">
                                <% } %>
                                <div class="media-body">
                                    <h5 class="mt-0"><%- comment._user.firstname %> <%- comment._user.lastname %></h5>
                                    <%- comment.body %>
                                </div>
                                <div class="hover-btn">
                                    <% if (comment._user._id.equals(user._id)) { %> 
                                    <form action="/comment/delete/<%- comment._id  %>">
                                        <button type="submit" class="close">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>


