<h1>Welcome <%-name%>!</h1>

<hr>

<% if (success_msg != '') { %>
    <div class="alert alert-success" role="alert">
        <%= success_msg %>
    </div>
<% } %>
<% if (error_msg != '') { %>
    <div class="alert alert-danger" role="alert">
        <%= error_msg %>
    </div>
<% } %>

<a href="/post">Create a post</a>


<div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-2">

        <!-- Categories Widget -->
        <div class="card my-3">
            <h5 class="card-header">Post Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">All categories</a>
                            </li>
                            <li>
                                <a href="#">Engineering</a>
                            </li>
                            <li>
                                <a href="#">Economics</a>
                            </li>
                            <li>
                                <a href="#">Healthcare</a>
                            </li>
                            <li>
                                <a href="#">Biology</a>
                            </li>
                            <li>
                                <a href="#">Miscelanious</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Header -->
        <h1 class="mt-4">Latest Post</h1>
        
        <hr>

        <!-- Title -->
        <h2 class="mt-4"><%- post.title %></h2>

        <!-- User -->
        <p class="lead">
          by
          <a href="#"><%- postedBy %></a>
        </p>

        <hr>

        <!-- Date/Time and Category -->
        <p>
            Posted on <%- postedDate %> <br>
            Category: <%- post.category %>
        </p>

        <hr>

        <!-- Post Content -->
        <p class="lead"><%- post.body %></p>

        <hr>

        <!-- Comments Form -->
        <div  class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form class="needs-validaiton" novalidate action="/comment/<%- post._id %>" method="POST">
                    <div class="form-group">
                        <textarea name="comment" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="invalid-feedback">
                        Cannot comment an empty field
                    </div>
                    <% if (error != '') { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <% comments.forEach(function(comment) {%>
            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0"><%- comment._user.firstname %> <%- comment._user.lastname %></h5>
                    <%- comment.body %>
                </div>
                <div class="hover-btn">
                    <% if (comment._user._id.equals(user._id)) { %> 
                    <form action="/comment/delete/<%- comment._id  %>" method="POST">
                        <button type="submit" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% }); %>
</div>


