<div class="content">
    <div class="card">
        <% if(typeof category == 'undefined') { %>
            <h1 class="card-header">All posts:</h1>
            <div class="card-body">
                
                <h5>Search result: <%- posts.length %></h5>
                <hr>

                <div class="list-group">
                <% posts.forEach(function(post) { %>
                    <a href="/post/<%- post._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%- post.title %></h5>
                            <hr>
                            <small>
                                    <% if (post._user._id.equals(user._id)) { %> 
                                        <form action="/post/delete/<%- post._id  %>">
                                            <button type="submit" class="close" >
                                                <span aria-hidden="true"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                        </form>
                                    <% } %>
                            </small>
                        </div>
                        <p class="mb-1"><%- post.body %></p>
                        <small>
                            By: <%- post._user.firstname %> <%- post._user.lastname %> <br>
                            <%- days[post._id] %>
                        </small>  
                    </a>        
                <% }); %>        
                </div>
            </div>
        <% } else { %>
            <h1 class="card-header"><%- category %> posts:</h1><br>
            <div class="card-body">
                <h5>Search result: <%- posts.length %></h5>
                <hr>
                <div class="list-group">
                    <% posts.forEach(function(post) { %>
                        <a href="/post/<%- post._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><%- post.title %></h5>
                                <hr>
                                <small>
                                        <% if (post._user._id.equals(user._id)) { %> 
                                            <form action="/post/delete/<%- post._id  %>">
                                                <button type="submit" class="close" >
                                                    <span aria-hidden="true"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                                    <span class="sr-only">Close</span>
                                                </button>
                                            </form>
                                        <% } %>
                                </small>
                            </div>
                            <p class="mb-1"><%- post.body %></p>
                            <small>
                                By: <%- post._user.firstname %> <%- post._user.lastname %> <br>
                                <%- days[post._id] %>
                            </small>  
                        </a>        
                    <% }); %>
                </div>     
            </div>
        <% } %>
    </div>

</div>