<div class="content">
    <% if(typeof category == 'undefined') { %>
        <h1>All posts:</h1><br>
        <% posts.forEach(function(post) { %>
            <h2>Title: <%- post.title %></h2><br>
            <p>Made by: <%- post._user.firstname %> <%- post._user.lastname %></p><br>
            <p>Created: <%- post.date %></p><br>
            <p>Content:<%- post.body %></p><br>
            <a href="/post/view">View post --></a>
            <hr>
        <% }); %>
    <% } else { %>
        <h1><%- category %> posts:</h1><br>
        <% posts.forEach(function(post) { %>
            <h2>Title: <%- post.title %></h2><br>
            <p>Made by: <%- post._user.firstname %> <%- post._user.lastname %></p><br>
            <p>Created: <%- post.date %></p><br>
            <p>Content:<%- post.body %></p><br>
            <a href="/post/view">View post --></a>
            <hr>
        <% }); %>
    <% } %>

</div>