<div class="content">
    <div class="card">
        <% if(typeof category == 'undefined') { %>
            <h1 class="card-header">All posts:</h1>
            <div class="card-body">
                
                <h5>Search result: <%- posts.length %></h5>
                <hr>
                <% posts.forEach(function(post) { %>
                    <div class="card">
                        <h4 class="card-header">
                            <% if (post._user._id.equals(user._id)) { %> 
                                <form action="/post/delete/<%- post._id  %>">
                                    <%- post.title %>
                                    <button type="submit" class="close" >
                                        <span aria-hidden="true"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </form>
                            <% } else { %>
                                <%- post.title %>
                            <% } %>
                        </h4>
                        <div class="card-body">
                            <p>Made by: <%- post._user.firstname %> <%- post._user.lastname %></p>
                            <p>Created: <%- (post.date.getMonth() + 1) + '/' + post.date.getDate() + '/' +  post.date.getFullYear() %></p>
                            <p>Content:<%- post.body %></p>
                            <a href="/post/view/<%- post._id %>">View post --></a>
                        </div>
                    </div>
                <% }); %>
                
            </div>
        <% } else { %>
            <h1 class="card-header"><%- category %> posts:</h1><br>
            <div class="card-body">
                <h5>Search result: <%- posts.length %></h5>
                <hr>
                <% posts.forEach(function(post) { %>
                    <div class="card">
                        <h4 class="card-header">Title: <%- post.title %></h4>
                        <div class="card-body">
                            <p>Made by: <%- post._user.firstname %> <%- post._user.lastname %></p>
                            <p>Created: <%- (post.date.getMonth() + 1) + '/' + post.date.getDate() + '/' +  post.date.getFullYear() %></p>
                            <p>Content: <%- post.body %></p>
                            <a href="/post/view/<%- post._id %>">View post --></a>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>

</div>